<ion-view style="" title="Inicio">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true" style="background: url(img/oUorm60ERVmHTc1PMcdx_roadplannig.jpg) no-repeat center;">
        <form style="" class="list">
            <ion-radio style="">Basado en ubicación</ion-radio>
            <ion-radio style="">Basado en ruta</ion-radio>
            <div style="width: 300px; height: 101px;" class="spacer"></div>
            <label style="" name="searchplanning" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Ingresa la ubicación" type="search">
            </label>
        </form>
        <a style="" class="button button-positive button-block " ui-sref="menu.roadmap">Buscar</a>
    </ion-content>
</ion-view>